body{
    font-family: sans-serif;
}
header{
    background-color: #f5f5f7;
    

}
.header-h1{
    font-size:50px;
    display: inline-block;
    padding-left: 15%;
}  
.header-h2{
    font-size:32px;
    color: gray;
    display: inline-block;
    padding-left: 10px;
    
}
main{
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    background-color: #f5f5f7;
    border:solid #e1e1e6 1px;
    border-radius: 1%;
    margin:2% 30% ;
    line-height: 2em;;
}
.left-input{
    display: flex;
    flex-direction: column;
    width: 40%;

}
.left-item{
    display: flex;
    flex-direction: column;
}
.right-input{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   width: 40%;
}
button{
    margin-bottom: 5px;
    padding: 5px 5px;
    background-color:  rgb(99, 99, 180);
    color: white;
    border:solid  rgb(99, 99, 180) 2px;
    border-radius: 4%;
}
#name, #email, #subject, #message{
    border:solid #e1e1e6 1px;
    border-radius:3%;
}
#name, #email, #subject{
    height: 26px;
    border-radius: 3%;
}